In [1]:
import molsysmt as msm

In [9]:
molecular_system = msm.convert('1BRS')

In [10]:
molecular_system = msm.extract(molecular_system, selection='molecule_type=="protein"')

In [12]:
msm.info(molecular_system, element='molecule')

In [15]:
barnase = msm.extract(molecular_system, selection="chain_name=='B'")
barstar_E = msm.extract(molecular_system, selection="chain_name=='E'")
barstar_F = msm.extract(molecular_system, selection="chain_name=='F'")

In [19]:
barstar_F_over_E = msm.structure.align(barstar_F, selection='atom_name=="CA"',
                                       reference_molecular_system=barstar_E, reference_selection='atom_name=="CA"')

In [21]:
barnase_barstar = msm.merge([barnase, barstar_F_over_E])

In [24]:
msm.info(barnase_barstar, element='molecule')

In [23]:
barnase_barstar = msm.build.add_missing_heavy_atoms(barnase_barstar)

In [ ]:
barnase_barstar = msm.build.add_missing_heavy_atoms(barnase_barstar)
barnase_barstar = msm.build.add_missing_hydrogens(barnase_barstar, pH=7.4)
_ = msm.convert(barnase_barstar, to_form='../../data/pdb/barnase_barstar.pdb')
_ = msm.convert(barnase_barstar, to_form='../../data/msmpk/barnase_barstar.msmpk')

In [2]:
molecular_system = msm.convert(msm.systems.demo['Barnase-Barstar']['barnase_barstar.msmpk'])

In [3]:
msm.info(molecular_system, element='molecule')

In [8]:
selection = msm.select(molecular_system, selection='groups of molecule_index==0')

In [ ]:
msm.get(molecular_system, element='atoms', selection='molecule_index==0', atom_index=True)

In [ ]:
msm.get(molecular_system, element='group', selection='molecule_index==0', atom_index=True)