In [1]:
import molsysmt as msm

In [17]:
molsys = msm.convert('1QQP', to_form='molsysmt.MolSys')
molsys_list = [molsys for ii in range(60)]

In [18]:
msm.info(molsys)

In [19]:
msm.get(molsys, n_bonds=True)

5421

In [20]:
%%time
molsys_merged = msm.merge(molsys_list)

CPU times: user 4.78 s, sys: 165 ms, total: 4.94 s
Wall time: 4.95 s

In [21]:
msm.info(molsys_merged)

In [22]:
pairs_bonds = msm.get(molsys, element='bond', bonded_atoms=True)
pairs_bonds_merged = msm.get(molsys_merged, element='bond', bonded_atoms=True)
atom_index = msm.get(molsys, element='atom', atom_index=True)
atom_index_merged = msm.get(molsys_merged, element='atom', atom_index=True)

In [23]:
import numpy as np

In [24]:
pairs_bonds.shape

(5421, 2)

In [25]:
pairs_bonds_merged.shape

(325260, 2)

In [11]:
np.argmax(pairs_bonds[:,0])

4750

In [12]:
np.argmax(pairs_bonds_merged[:,0])

53539

In [13]:
np.max(pairs_bonds[:,0])

5282

In [26]:
np.max(pairs_bonds_merged[:,0])

354385

In [15]:
molsys_merged.topology.bonds_dataframe

       atom1_index  atom2_index  order  type
0                1            0      1  None
1                2            1      1  None
2                3            2      2  None
3                4            1      1  None
4                5            4      1  None
...            ...          ...    ...   ...
54205        58449        58443      1  None
54206        58470        58469      1  None
54207        58489        58478      1  None
54208        58505        58497      1  None
54209        58524        58513      1  None

[54210 rows x 4 columns]

In [16]:
np.max(atom_index_merged)

59169

In [ ]:
aa = np.array([0,1,2,3,4,5,6,7,8,9,0,1,2,3,4,5,6,7,8,9,0,1,2,3,4,5,6,7,8,9])

In [ ]:
aa[10:20]+=10

In [ ]:
aa[20:30]+=20

In [ ]:
aa