In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import molsysmt as msm

In [3]:
molsys = msm.convert('1HKC')

In [4]:
mmtf = msm.convert('1HKC', to_form='mmtf.MMTFDecoder')

In [5]:
msm.info(molsys, element='chain')

In [6]:
bioassemblies = msm.item.mmtf_MMTFDecoder.get_bioassemblies_from_system(mmtf)

In [7]:
bioassemblies

{'1': {'chains': [[0, 1, 2, 3, 4, 5, 6], [0, 1, 2, 3, 4, 5, 6]],
  'rotations': [array([[1., 0., 0.],
          [0., 1., 0.],
          [0., 0., 1.]]),
   array([[ 1.,  0.,  0.],
          [ 0., -1.,  0.],
          [ 0.,  0., -1.]])],
  'translations': [array([0., 0., 0.]) <Unit('nanometer')>,
   array([ 0.        , 30.32647759,  3.31566667]) <Unit('nanometer')>]}}

In [8]:
molsys = msm.build.make_bioassembly(molsys, bioassembly=bioassemblies['1'])

In [9]:
msm.view(molsys, standardize=True)

NGLWidget()