In [1]:
# This cell is removed with the tag: "remove-input"
# As such, it will not be shown in documentation

import warnings
warnings.filterwarnings('ignore')

(UserGuide_Tools_Basic_Extract)=
# Extract

*Extracting a portion of a molecular system.*

The function {func}`molsysmt.basic.extract` allows to extract a part of a molecular system. It's output is a new molecular system with the elements selected by the user.

Let's see {func}`molsysmt.basic.extract` in action with a simple example:

In [2]:
import molsysmt as msm

In [3]:
molecular_system = msm.convert('181L')

```{admonition} Tip
:class: tip
The default output form of {func}`molsysmt.basic.convert` is the native `molsysmt.MolSys`.
```

In [4]:
msm.info(molecular_system, element='entity')

In [5]:
molecular_subsystem = msm.extract(molecular_system, selection='entity_name in ["T4 lysozyme", "Benzene"]')

```{admonition} Tip
:class: tip
All methods defined in the {ref}`molsysmt.basic <API basic>` module can be invoked also from the main level of the library. Hence, {func}`molsysmt.extract` is the same method as {func}`molsysmt.basic.extract`.
```

In [6]:
msm.info(molecular_subsystem, element='entity')

```{admonition} See also
:class: attention
{func}`molsysmt.basic.extract`, {func}`molsysmt.basic.convert`, {func}`molsysmt.basic.info`
```