In [1]:
# This cell is removed with the tag: "remove-input"
# As such, it will not be shown in documentation

#import warnings
#warnings.filterwarnings('ignore')

(Tutorial_Get_label)=
# Get label

*Getting an elements string label*

There is in MolSysMT a function to print out a brief overview of a molecular system and its elements: {func}`molsysmt.basic.info`. This function can work at different levels depending on the elements choosen by the user: `atom`, `group`, `component`, `molecule`, `chain`, `entity`, or `system`. And the output of this method can be a `pandas.DataFrame` or a `string`.


## How this function works

:::{admonition} API documentation
Follow this link for a detailed description of the input arguments, raised errors, and returned objects of this function:{func}`molsysmt.basic.has_attribute`.
:::

Let's load a molecular system to illustrate with some simple examples how it works:

In [2]:
import molsysmt as msm

In [3]:
molecular_system = msm.convert('181L')

By default, {func}`molsysmt.basic.info` supplies a summary of the system as a Pandas dataframe:

In [7]:
msm.info(molecular_system)

```{admonition} Tip
:class: tip
All methods defined in the {ref}`molsysmt.basic <API basic>` module can be invoked also from the main level of the library. Hence, {func}`molsysmt.info` is the same method as {func}`molsysmt.basic.info`.
```

But summary information on other elements such as atoms, groups, components, molecules, chains or entities can be obtained:

In [9]:
msm.info(molecular_system, element='atom', selection='molecule_type=="ion"')

In [10]:
msm.info(molecular_system, element='group', selection=[9,10,11,12])

In [12]:
msm.info(molecular_system, element='component', selection='molecule_type=="small molecule"')

In [17]:
msm.info(molecular_system, element='molecule',
         selection='molecule_type!=["water", "protein"] within 4.0 angstroms of molecule_type=="protein"')

In [13]:
msm.info(molecular_system, element='chain', selection='molecule_type=="water"')

In [18]:
msm.info(molecular_system, element='entity')

### Getting a string element label

The method `molsysmt.info()` can also return a string with key information to identify the element. If we only need to get a short string encoding the main attributes of an atom, the input argument `output` should take the value 'short_string':

In [ ]:
msm.info(molecular_system, element='atom', indices=[10, 11, 12], output_type='short_string')

The strings take the following format depending on the element choosen:

| element | short | long |
| ------- | ----- | ---- |
| atom | `atom_name-atom_id@atom_index` | `atom_name-atom_id@atom_index/group_name-group_id@group_index/chain_name-chain_id@chain_index/molecule_name@molecule_index`|
| group | `group_name-group_id@group_index` | `group_name-group_id@group_index/chain_name-chain_id@chain_index/molecule_name@molecule_index`|
| component | `component_name-component_id@component_index` | `component_name-component_id@component_index/chain_name-chain_id@chain_index/molecule_name@molecule_index`|
| chain | `chain_name-chain_id@chain_index` | `chain_name-chain_id@chain_index/molecule_name@molecule_index`|
| molecule | `molecule_name-molecule_id@molecule_index` | `molecule_name-molecule_id@molecule_index`|
| entity | `entity_name-entity_id@entity_index` | `entity_name-entity_id@entity_index`|

Let's see a some few additional examples:

In [ ]:
msm.info(molecular_system, element='atom', indices=10, output_type='long_string')

In [ ]:
msm.info(molecular_system, element='group', selection='group_type=="ion"', output_type='short_string')

In [ ]:
msm.info(molecular_system, element='group', indices=3, output_type='long_string')

```{admonition} See also
:class: attention
{func}`molsysmt.basic.info`, {func}`molsysmt.basic.convert`
```