In [1]:
# This cell is removed with the tag: "remove-input"
# As such, it will not be shown in documentation

#import warnings
#warnings.filterwarnings('ignore')

(Tutorial_Info)=
# Info

*Printing out summary information of a molecular system*

There is in MolSysMT a function to print out a brief overview of a molecular system and its elements: {func}`molsysmt.basic.info`. This function can work at different levels depending on the elements choosen by the user: `atom`, `group`, `component`, `molecule`, `chain`, `entity`, or `system`. And the output of this method can be a `pandas.DataFrame` or a `string`.


## How this function works

:::{admonition} API documentation
Follow this link for a detailed description of the input arguments, raised errors, and returned objects of this function:{func}`molsysmt.basic.info`.
:::

Let's load a molecular system to illustrate with some simple examples how it works:

In [2]:
import molsysmt as msm

In [3]:
molecular_system = msm.convert('181L')

By default, {func}`molsysmt.basic.info` supplies a summary of the system as a Pandas dataframe:

In [4]:
msm.info(molecular_system)

```{admonition} Tip
:class: tip
All methods defined in the {ref}`molsysmt.basic <API basic>` module can be invoked also from the main level of the library. Hence, {func}`molsysmt.info` is the same method as {func}`molsysmt.basic.info`.
```

But summary information on other elements such as atoms, groups, components, molecules, chains or entities can be obtained.

## With atoms

Let's see an example of how this function works with atoms:

In [5]:
msm.info(molecular_system, element='atom', selection='molecule_type=="ion"')

## With groups

Let's see an example of how this function works with groups:

In [6]:
msm.info(molecular_system, element='group', selection=[9,10,11,12])

## With components

Let's see an example of how this function works with components:

In [7]:
msm.info(molecular_system, element='component', selection='molecule_type=="small molecule"')

## With molecules

Let's see an example of how this function works with molecules:

In [8]:
msm.info(molecular_system, element='molecule',
         selection='molecule_type!=["water", "protein"] within 4.0 angstroms of molecule_type=="protein"')

## With chains

Let's see an example of how this function works with chains:

In [9]:
msm.info(molecular_system, element='chain', selection='molecule_type=="water"')

## With entities

Let's see an example of how this function works with chains:

In [10]:
msm.info(molecular_system, element='entity')

## With system

Let's see an example of how this function works with the system (default option):

In [11]:
msm.info(molecular_system)

:::{seealso}
[User guide > Introduction > Molecular System > Elements](../../intro/molecular_systems/elements.ipynb):    
[User guide > Tools > Basic > Convert](convert.ipynb):    
[User guide > Tools > Basic > Get label](get_label.ipynb):    
:::