In [1]:
# This cell is removed with the tag: "remove-input"
# As such, it will not be shown in documentation

#import warnings
#warnings.filterwarnings('ignore')

(Tutorial_Info)=
# Info

*Displaying summary information about a molecular system and its elements*

MolSysMT provides a function to display a concise summary of a molecular system and its elements: {func}`molsysmt.basic.info`. This function works at different levels depending on the selected element type — `atom`, `group`, `component`, `molecule`, `chain`, `entity`, or `system`. The output is a `pandas.DataFrame`.

## How this function works

:::{admonition} API documentation
Follow this link for a detailed description of the input arguments, raised errors, and returned objects of this function:{func}`molsysmt.basic.info`.
:::

Let’s load a molecular system and explore a few examples of how this function works:

In [2]:
import molsysmt as msm

In [3]:
molsys = msm.convert('181L')

By default, {func}`molsysmt.basic.info` supplies a summary of the system as a Pandas dataframe:

In [4]:
msm.info(molsys)

```{admonition} Tip
:class: tip
All methods defined in the {ref}`molsysmt.basic <API basic>` module can be invoked also from the main level of the library. Hence, {func}`molsysmt.info` is the same method as {func}`molsysmt.basic.info`.
```

But summary information on other elements such as atoms, groups, components, molecules, chains or entities can be obtained.

## With atoms

Example of how the function works at the `atom` level:

In [5]:
msm.info(molsys, element='atom', selection='molecule_type=="ion"')

## With groups

Example of how the function works at the `group` level:

In [6]:
msm.info(molsys, element='group', selection=[9,10,11,12])

## With components

The function can also be applied to the component level, as shown below:

In [7]:
msm.info(molsys, element='component', selection='molecule_type=="small molecule"')

## With molecules

Let's see an example of how this function works with molecules:

In [8]:
msm.info(molsys, element='molecule',
         selection='molecule_type!=["water", "protein"] within 4.0 angstroms of molecule_type=="protein"')

## With chains

The function can also be applied to `chain` elements as shown below:

In [9]:
msm.info(molsys, element='chain', selection='molecule_type=="water"')

## With entities

This example shows how to obtain a summary of `entity` elements:

In [10]:
msm.info(molsys, element='entity')

## With system

Let's see an example of how this function works with the system (default option):

In [11]:
msm.info(molsys)

:::{seealso}
[User guide > Introduction > Molecular System > Elements](../../intro/molecular_systems/elements.ipynb):    
[User guide > Tools > Basic > Convert](convert.ipynb):    
[User guide > Tools > Basic > Get label](get_label.ipynb):    

[User guide > Introduction > Molecular System > Elements](../../intro/molecular_systems/elements.ipynb):    
Describe the different hierarchical levels (atom, group, molecule, etc.) used in molecular systems.

[User guide > Tools > Basic > Convert](convert.ipynb):    
Convert a molecular system into another form.

[User guide > Tools > Basic > Get label](get_label.ipynb):    
Generate formatted labels for elements in a molecular system.

:::