In [1]:
# This cell is removed with the tag: "remove-input"
# As such, it will not be shown in documentation

import warnings
warnings.filterwarnings('ignore')

(UserGuide_Tools_Basic_Remove)=
# Remove

*Removing atoms or structures from a molecular system*

The function {func}`molsysmt.basic.remove` can remove atoms or structures from a molecular system.

## Removing atoms

The function {func}`molsysmt.basic.remove` remove atoms from a molecular system. The input argument `selection` allows us to define the elements to be removed. Let's illustrate this with a simple example:

In [3]:
import molsysmt as msm

In [4]:
molecular_system = msm.convert('181L')

In [8]:
msm.info(molecular_system, element='chain')

In [9]:
molecular_system_trimmed = msm.remove(molecular_system, selection='chain_index==[1,2,3,4,5]')

In [10]:
msm.info(molecular_system_trimmed)

## Removing structures

The function {func}`molsysmt.basic.remove` can also remove structures. The input argument `structure_indices` can be used to choose the structures to be removed. Let's illustrate this with a simple example:

In [11]:
pdbfile = msm.demo['Trp-Cage']['1l2y.pdb']
molecular_system = msm.convert(pdbfile, to_form='molsysmt.Structures')

In [12]:
msm.info(molecular_system)

In [13]:
molecular_system_trimmed = msm.remove(molecular_system, structure_indices=range(1,38))

In [14]:
msm.info(molecular_system_trimmed)