In [1]:
# This cell is removed with the tag: "remove-input"
# As such, it will not be shown in documentation

#import warnings
#warnings.filterwarnings('ignore')

(Tutorial_Set)=
# Set
*Setting attribute values (topological or structural) to a molecular system.*

Some attributes of a molecular system can be changed without altering its identity — for example, modifying the box dimensions, coordinates, or forcefield information. In other cases, attribute corrections may be required, such as fixing a wrong residue name or atom type. MolSysMT provides the {func}`molsysmt.basic.set` function to assist with these tasks.

The list of attributes defined in MolSysMT for a molecular system can be checked in the section [User guide > Introduction > Molecular system > Attributes](../../introduction/molecular_system/attributes.ipynb).

:::{versionadded} 1.0.0
:::

## How this function works

:::{admonition} API documentation
Follow this link for a detailed description of the input arguments, raised errors, and returned objects of this function:{func}`molsysmt.basic.set`.
:::

To illustrate how this function works, lets load a molecular system:

In [2]:
import molsysmt as msm

In [3]:
molsys = msm.convert('181L')

In [4]:
msm.info(molsys)

Suppose that the name of the group at index 30 is incorrect in our system:

In [5]:
msm.info(molsys, element='atom', selection='group_index==30')

Let’s now assume that the histidine residue should be labeled as "HSD" instead of "HIS". This can be easily updated using the function {func}`molsysmt.basic.set`:

In [6]:
msm.set(molsys, selection='group_index==30', group_name='HSD')

:::{tip}
All methods defined in the {ref}`molsysmt.basic <API basic>` module can be invoked also from the main level of the library. Hence, {func}`molsysmt.set` is the same method as {func}`molsysmt.basic.set`.
:::

Let's check that the group name changed in deed:

In [7]:
msm.info(molsys, element='atom', selection='group_index==30')

Let’s explore another example, this time modifying a structural attribute. We will look at the coordinates of the "CA" atom in the "HSD" group:

In [8]:
msm.get(molsys, element='atom', selection='group_name=="HSD" and atom_name=="CA"', coordinates=True)

There is only a single structure in the system, let's change the coordinates of this former atom to a new value:

In [9]:
msm.set(molsys, selection='group_name=="HSD" and atom_name=="CA"', structure_indices=0, coordinates='[0,0,0] nm')

Finally, let’s verify that the coordinates of the "CA" atom in the "HSD" group were updated correctly:

In [10]:
msm.get(molsys, element='atom', selection='group_name=="HSD" and atom_name=="CA"', coordinates=True)

:::{seealso}
[User guide > Introduction > Molecular System > Attributes](../../intro/molecular_systems/attributes.ipynb):    
Overview of attributes defined for molecular systems in MolSysMT.

[User guide > Tools > Basic > Convert](convert.ipynb):    
Convert molecular systems between different formats.

[User guide > Tools > Basic > Info](info.ipynb):    
Display structural and topological summaries.

[User guide > Tools > Basic > Select](select.ipynb):    
Select elements from a molecular system using various syntaxes.

[User guide > Tools > Basic > Get](get.ipynb):    
Retrieve attribute values from selected elements.
:::