In [1]:
# This cell is removed with the tag: "remove-input"
# As such, it will not be shown in documentation

#import warnings
#warnings.filterwarnings('ignore')

(Tutorial_Set)=
# Set
*Setting attribute values to a molecular system.*

Some values of a molecular system can be changed without changing the nature of the system: box, coordinates, forcefield, etc. Sometimes other attribute values need to be changed to correct them: a wrong residue name or atom type, for instance. MolSysMT includes in its basic tools module a function to assist you with these tasks: {func}`molsysmt.basic.set`. 

The list of attributes defined in MolSysMT for a molecular system can be checked in the section [User guide > Introduction > Molecular system > Attributes](../../introduction/molecular_system/attributes.ipynb).

## How this function works

:::{admonition} API documentation
Follow this link for a detailed description of the input arguments, raised errors, and returned objects of this function:{func}`molsysmt.basic.set`.
:::

To illustrate how this function works, lets load a molecular system:

In [2]:
import molsysmt as msm

In [3]:
molecular_system = msm.convert('181L')

In [4]:
msm.info(molecular_system)

Let's suppose that the name of the group index 30 is wrong in our system:

In [5]:
msm.info(molecular_system, element='atom', selection='group_index==30')

Let's now suppose that the histidine residue should be named "HSD" and not "HIS". With the function {func}:`molsysmt.basic.set` this attribute value can be replaced:

In [6]:
msm.set(molecular_system, selection='group_index==30', group_name='HSD')

:::{tip}
All methods defined in the {ref}`molsysmt.basic <API basic>` module can be invoked also from the main level of the library. Hence, {func}`molsysmt.set` is the same method as {func}`molsysmt.basic.set`.
:::

Let's check that the group name changed in deed:

In [7]:
msm.info(molecular_system, element='atom', selection='group_index==30')

To illustrate how {func}`molsysmt.basic.set` works, let's show another example this time changing the value of an structural attribute. Let's see the coordinates of the atom named "CA" of the group "HSD":

In [8]:
msm.get(molecular_system, element='atom', selection='group_name=="HSD" and atom_name=="CA"', coordinates=True)

There is only a single structure in the system, let's change the coordinates of this former atom to a new value:

In [9]:
msm.set(molecular_system, selection='group_name=="HSD" and atom_name=="CA"', structure_indices=0, coordinates='[0,0,0] nm')

Finally it is time to wonder: Have we changed succesfully the coordinates of the atom with name "CA" in the group "HSD"?

In [10]:
msm.get(molecular_system, element='atom', selection='group_name=="HSD" and atom_name=="CA"', coordinates=True)

:::{seealso}
[User guide > Introduction > Molecular System > Attributes](../../intro/molecular_systems/attributes.ipynb):    
[User guide > Tools > Basic > Convert](convert.ipynb):    
[User guide > Tools > Basic > Info](info.ipynb):    
[User guide > Tools > Basic > Select](select.ipynb):    
[User guide > Tools > Basic > Get](get.ipynb):    
:::