# Get acceptor atoms

In [1]:
import molsysmt as msm

In [2]:
msm.hbonds.acceptor_inclusion_rules

["atom_type=='O'", "atom_type=='N'", "atom_type=='S'"]

In [3]:
 msm.hbonds.acceptor_exclusion_rules

["atom_name=='NE2' and group_name=='GLN'",
 "(atom_name=='NE2' and group_name=='HIS') bonded to (atom_type=='H')",
 "(atom_name=='ND1' and group_name=='HIS') bonded to (atom_type=='H')"]

In [4]:
molsys = msm.convert(msm.systems.demo['chicken villin HP35']['chicken_villin_HP35.msmpk'])

In [5]:
acceptor_atoms = msm.hbonds.get_acceptor_atoms(molsys, selection="group_index==[1,2,3]")

In [6]:
acceptor_atoms

array([ 6, 11, 18, 23, 28, 42, 47, 51])

In [7]:
msm.info(molsys, element='atom', selection=acceptor_atoms)

In [8]:
acceptor_atoms = msm.hbonds.get_acceptor_atoms(molsys, selection="group_index==[1,2,3]",
                                              inclusion_rules="atom_type=='O'", exclusion_rules="atom_name=='OG'",
                                              default_inclusion_rules=False, default_exclusion_rules=False)

In [9]:
msm.info(molsys, element='atom', selection=acceptor_atoms)

In [10]:
acceptor_atoms = msm.hbonds.get_acceptor_atoms(molsys, selection="group_index==[1,2,3]",
                                              inclusion_rules="atom_type=='CA' and group_name=='MET'", exclusion_rules="atom_name=='OG'")

In [11]:
msm.info(molsys, element='atom', selection=acceptor_atoms)

In [12]:
msm.hbonds.acceptor_inclusion_rules.append("atom_name=='CA'")

In [13]:
msm.hbonds.acceptor_inclusion_rules

["atom_type=='O'", "atom_type=='N'", "atom_type=='S'", "atom_name=='CA'"]

In [14]:
acceptor_atoms = msm.hbonds.get_acceptor_atoms(molsys, selection="group_index==[1,2,3]")

In [15]:
msm.info(molsys, element='atom', selection=acceptor_atoms)