# Get donor atoms

In [1]:
import molsysmt as msm

In [2]:
msm.hbonds.donor_inclusion_rules

["(atom_type=='O') bonded to (atom_type=='H')",
 "(atom_type=='N') bonded to (atom_type=='H')"]

In [3]:
 msm.hbonds.donor_exclusion_rules

["(atom_name=='NE2') not bonded to (atom_type=='H')",
 "(atom_name=='ND1') not bonded to (atom_type=='H')"]

In [4]:
molsys = msm.convert(msm.systems.demo['chicken villin HP35']['chicken_villin_HP35.msmpk'])

In [5]:
donor_atoms = msm.hbonds.get_donor_atoms(molsys, selection="group_index==[1,2,3]")

In [6]:
donor_atoms

array([ 6, 23, 42, 51])

In [7]:
msm.info(molsys, element='atom', selection=donor_atoms)

In [8]:
donor_atoms = msm.hbonds.get_donor_atoms(molsys, selection="group_index==[1,2,3]", with_Hs=True)

In [9]:
donor_atoms

array([[ 6,  7],
       [23, 24],
       [42, 43],
       [51, 52]])

In [10]:
msm.info(molsys, element='atom', selection=donor_atoms[0])

In [23]:
donor_atoms = msm.hbonds.get_donor_atoms(molsys, selection="group_index==[1,2,3]",
                                         inclusion_rules="atom_name=='CB'", exclusion_rules="group_name=='SER'",
                                         default_inclusion_rules=False, default_exclusion_rules=False,
                                         with_Hs=True)

In [24]:
donor_atoms

array([[12, 13],
       [12, 14],
       [29, 30],
       [29, 31]])

In [25]:
msm.info(molsys, element='atom', selection=donor_atoms[0])

In [26]:
donor_atoms = msm.hbonds.get_donor_atoms(molsys, selection="group_index==[1,2,3]",
                                         inclusion_rules="atom_name=='CB'", exclusion_rules="group_name=='SER'")

In [27]:
msm.info(molsys, element='atom', selection=donor_atoms)

In [28]:
msm.hbonds.donor_inclusion_rules.append("atom_name=='CB'")

In [29]:
msm.hbonds.donor_inclusion_rules

["(atom_type=='O') bonded to (atom_type=='H')",
 "(atom_type=='N') bonded to (atom_type=='H')",
 "atom_name=='CB'"]

In [30]:
donor_atoms = msm.hbonds.get_donor_atoms(molsys, selection="group_index==[1,2,3]")

In [31]:
msm.info(molsys, element='atom', selection=donor_atoms)