In [1]:
# This cell is removed with the tag: "remove-input"
# As such, it will not be shown in documentation

import warnings
warnings.filterwarnings('ignore')

(Tutorial_Define_new_chain)=
# Define new chain
*Defining a new chain by grouping a selection of atoms.*

The function {func}`molsysmt.build.define_new_chain()` allows you to group any set of atoms into a new chain. This is useful when working with merged or modified systems where chain identity needs to be explicitly reassigned.

:::{versionadded} 1.0.0
:::

## How this method works

```{admonition} API documentation
Follow this link for a detailed description of the input arguments, raised errors, and returned objects of this function:{func}`molsysmt.build.define_new_chain()`.
```

This function modifies the topology of the molecular system by assigning a new `chain_id` and `chain_name` to the selected atoms. The reassigned chain appears as an additional entry in the system's chain list, without altering other chain definitions.

We begin by loading a protein structure from the PDB with ID `1TCD`.

In [2]:
# This cell is removed with the tag: "remove-input"
# As such, it will not be shown in documentation

import warnings
warnings.filterwarnings('ignore')

In [3]:
import molsysmt as msm

In [4]:
molsys = msm.convert('1TCD')

Letâ€™s inspect the current chain composition of the system.

We now assign all water molecules to a new chain labeled `'C'`.  
This does not alter the identity of existing chains but adds a new one for the selected atoms.

In [5]:
msm.info(molsys, element='chain')

Letâ€™s confirm that the water molecules have been grouped into a new chain.

In [6]:
msm.build.define_new_chain(molsys, selection='molecule_type=="water"', chain_name='C')

In [7]:
msm.info(molsys, element='chain')

This method is particularly useful when preparing systems for simulation, merging fragments, or when chain identity needs to be redefined after structural modifications.

:::{seealso}
[User guide > Tools > Basic > Info](../basic/info.ipynb):  
Display a summary of the system, including its chains.

[User guide > Tools > Build > Merge](merge.ipynb):  
Combine multiple molecular systems, which may require redefining chains.

[User guide > Tools > Build > Add](add.ipynb):  
Add elements from one molecular system into another.

[User guide > Tools > Basic > Set](../basic/set.ipynb):  
Change attribute values such as `chain_name` or `chain_id`.
:::