In [1]:
import molsysmt as msm
import os
import shutil
from pathlib import Path
import numpy as np

In [2]:
molecular_system = msm.convert('1BRS')
molecular_system = msm.extract(molecular_system, selection='molecule_type=="protein"')
barnase = msm.extract(molecular_system, selection="chain_name=='B'")
barstar_E = msm.extract(molecular_system, selection="chain_name=='E'")
barstar_F = msm.extract(molecular_system, selection="chain_name=='F'")

In [3]:
barstar_F_over_E = msm.structure.least_rmsd_align(barstar_F, selection='atom_name=="CA"',
                                                  reference_molecular_system=barstar_E,
                                                  reference_selection='atom_name=="CA"')

In [16]:
barstar_F_over_E.topology.chains

   chain_id chain_name chain_type
0         5          A     system

In [12]:
barnase_barstar = msm.merge([barnase, barstar_F_over_E])

In [13]:
msm.info(barnase_barstar)

In [14]:
barnase_barstar.topology.chains

   chain_id chain_name chain_type
0         1          A    protein
1         5          A    protein

In [6]:
msm.build.get_missing_heavy_atoms(barnase_barstar)

{131: ['CD', 'CE', 'NZ'],
 137: ['CG', 'CD', 'OE1', 'OE2'],
 155: ['CG', 'CD', 'OE1', 'OE2'],
 173: ['CG', 'CD', 'OE1', 'OE2'],
 174: ['CG', 'OD1', 'ND2'],
 198: ['O']}

In [7]:
barnase_barstar = msm.build.add_missing_heavy_atoms(barnase_barstar)

In [8]:
msm.info(barnase_barstar)

In [10]:
barnase_barstar.topology.

In [ ]:
barnase_barstar = msm.build.add_missing_heavy_atoms(barnase_barstar)
barnase_barstar = msm.build.add_missing_hydrogens(barnase_barstar, pH=7.4)

In [ ]:
msm.molecular_mechanics.potential_energy_minimization(barnase_barstar, in_place=True)
_ = msm.convert(barnase_barstar, to_form='barnase_barstar.pdb')
_ = msm.convert(barnase_barstar, to_form='barnase_barstar.h5msm')